{#{% load static %}#}
{% load auth_tags %}
<!DOCTYPE html>
<html lang="pl" data-theme="dark">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color-scheme" content="light dark">
    {#<link rel="stylesheet" href="{% static 'css/pico.min.css' %}">#}
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">
    <script type="module"
            src="https://cdn.jsdelivr.net/gh/starfederation/datastar@main/bundles/datastar.js"></script>
    {#<script type="module" src="{% static 'js/datastar.js' %}"></script>#}
    <title>
      {% block title %}
      {% endblock title %}
    </title>
  </head>
  <body>
    <header class="container-fluid">
      <nav>
        <ul>
          <li>
            <a href="{% url 'dashboard' %}" class="contrast"><strong>Brukarze</strong></a>
          </li>
        </ul>
        {% if user.is_authenticated %}
          <div class="grid">
            <ul>
              {% if user|is_szef %}
                <li>
                  <a href="{% url 'worker_list' %}">Pracownicy</a>
                </li>
                <li>
                  <a href="#">test</a>
                </li>
                <li>
                  <a href="#">test</a>
                </li>
                <li>
                  <a href="#">test</a>
                </li>
              {% endif %}
            </ul>
          </div>
          <ul>
            <li>
              <form action="{% url 'logout' %}" method="post">
                {% csrf_token %}
                <input type="submit" class="secondary outline" value="Wyloguj">
              </form>
            </li>
          </ul>
        {% else %}
          <ul>
            <li>
              <a href="{% url 'login' %}">Zaloguj</a>
            </li>
          </ul>
        {% endif %}
      </nav>
      <hr>
    </header>
    <main class="container">

      {% block content %}
      {% endblock content %}
    </main>
  </body>
</html>
