{% load static %}
<!DOCTYPE html>
<html lang="pl" data-theme="dark">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color-scheme" content="light dark">
    <link rel="stylesheet" href="{% static 'css/pico.min.css' %}">
    <script type="module" src="{% static 'js/datastar.js' %}"></script>
    <title>
      {% block title %}
      {% endblock title %}
    </title>
  </head>
  <body>
    <header class="container">
      <nav>
        <ul>
          <li>
            <strong>Brukarze App</strong>
          </li>
        </ul>
        <ul>
          {% if user.is_authenticated %}
            <li>
              <a href="{% url 'dashboard' %}">Panel</a>
            </li>
            <li>
              <form action="{% url 'logout' %}" method="post">
                {% csrf_token %}
                <input type="submit" class="secondary outline" value="Wyloguj">
              </form>
            </li>
          {% else %}
            <li>
              <a href="{% url 'login' %}">Zaloguj</a>
            </li>
          {% endif %}
        </ul>
      </nav>
      <hr>
    </header>
    <main class="container">

      {% block content %}
      {% endblock content %}
    </main>
  </body>
</html>
